
@{
    ViewData["Title"] = "FirstWay";
    //var student = ViewData["student"] as StudentModel;
    var contacts = ViewData["contact"] as M_Contact;
}

<h1>FirstWay</h1>
<h2>@contacts.email</h2>
<h2>@contacts.phone</h2>

