@model DemoUI.Models.M_Student;

@section Styles{
    <partial name="_P_StylesTableAndFormBasic" />
}

@section Scripts{
    <partial name="_P_ScriptsTableAndFormBasic" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="~/controllers/student_manage.js" asp-append-version="true"></script>
    <link href="~/css/student_css.css" rel="stylesheet" />

}

<div class="container-xl" id="div_main_table">
    <h2 class="text-center text-nowrap">Manage <b>Student</b></h2>
    <div class="row">

        <div class="col-xl-3 col-lg-2 col-md-4 mb-1 px-1">
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="select_search_status">
                        <i class="material-icons">&#xf023;</i>Trạng thái
                    </label>
                </div>
                <select id="select_search_status" class="selectpicker show-tick form-control p-0"
                        onchange="SearchStatus()" data-style="btn-white btn-sm"
                        data-live-search="false" data-size="10">
                    <option value="0,1">--Tất cả--</option>
                    <option class="text-success" value="1">Mở</option>
                    <option class="text-warning" value="0">Khóa</option>
                </select>
            </div>
        </div>
        <div class="col-xl-3 col-lg-2 col-md-4 mb-1 px-1">
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="select_search_gender">
                        <i class="material-icons">&#xf228;</i>Giới tính
                    </label>
                </div>
                <select id="select_search_gender" class="selectpicker show-tick form-control p-0"
                        onchange="SearchGender()" data-style="btn-white btn-sm"
                        data-live-search="false" data-size="10">
                    <option value="0,1">--Tất cả--</option>
                    <option class="text-success" value="1">Nữ</option>
                    <option class="text-warning" value="0">Nam</option>
                </select>
            </div>
        </div>
        <div class="col-auto mb-1 px-1">
            <a href="#addNewStudentModal" class="btn btn-outline-info" onclick="ShowAddModal(this)"><i class="material-icons">&#xE147;</i> <span>Add New Student</span></a>
            <button class="btn btn-outline-dark" onclick="Reload()"><i class="material-icons">&#xe5d5;</i> <span>Load</span></button>
        </div>
    </div>
    <table id="table_main" class="table table-striped table-bordered w-100">
        <thead class="thead_custom">
            <tr>
                <th>STT</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Email</th>
                <th>Avatar</th>
                <th>Class Name</th>
                <th>School Name</th>
                <th>Maths</th>
                <th>Physics</th>
                <th>Chemistry</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>

        </thead>
        <tfoot class="tfoot_custom">
            <tr>
                <th>STT</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Email</th>
                <th>Avatar</th>
                <th>Class Name</th>
                <th>School Name</th>
                <th>Maths</th>
                <th>Physics</th>
                <th>Chemistry</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </tfoot>
    </table>
</div>
<div class="card-body card_background_detail" id="div_view_panel" style="display:none;"></div>

